@font-face {
    font-family: 'Londrina';
    src: url('./assets/LondrinaSolid-Regular.ttf');
}

/* @font-face {
    font-family: 'Londrina-Light';
    src: url('./assets/LondrinaSolid-Thin.ttf');
} */

@font-face {
    font-family: 'DM-Sans';
    src: url('./assets/DMSans-Medium.ttf');
}
:root{
    --green:#6FFFE9;
    --blue:#1C2541;
    --blue-dark:#0B132B;
}

*,*::before,*::after{
    font-family: 'Londrina';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--green);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
}

header h1{
    font-weight: 300;
    font-size: clamp(1rem,5vw,3rem);
    white-space: nowrap;
}

header .search-bar-wrap{
    background-color: var(--blue-dark);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 0 1rem;
    width: clamp(300px,5vw,400px);
}

.search-bar-wrap input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--green);
    font-size: 1.2rem;
    padding:0.2rem 1rem;
}

.search-bar-wrap img{
    height: 80%;
    margin-right: 0.5rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.icons-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    margin-right: 0.5rem;
}

.icons-cont img{
    height: clamp(10px,5vw,40px);
    width: auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    transition: transform 0.4s ease;
}

body{
    background-color: var(--blue);
}

.icons-cont img:hover{
    transform: translateY(10%);
}

.main-books-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 60px;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
}





.book-card{
    background-color: var(--green);
    border-radius: 2rem;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.5rem;
    overflow: hidden;
    padding-top: 1rem;
    margin: 1rem 1.5rem;
}

.book-card button{
    cursor: pointer;
}

.book-card .book-name{
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
}

.book-name::before{
    content: '" ';
}

.book-name::after{
    content: ' "';
}

.book-card .authour-name{
    font-family: 'DM-Sans';
    font-weight: 600;
    font-size: 1.5rem;
}

.authour-name::before{
    font-family: 'DM-Sans';
    content: "~ ";
}

.page-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM-Sans';
    font-size: 1.5rem;
}

.page-cnt input{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'DM-Sans';
    width: 60px;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 600;
}

.page-cnt span{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'DM-Sans';
}

.page-cnt input:focus{
    background-color: wheat;
}

.book-status-btn{
    outline: none;
    border: none;
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    background-color: var(--blue-dark);
    color: var(--green);
    font-weight: 100;
}

.book-icons-cnt{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.book-icons-cnt img{
    cursor: pointer;
    transform: translateY(150%);
    transition: transform 0.2s ease;
}

.book-icons-cnt img:nth-child(2){
    transition-delay: 0.1s;
}

.book-icons-cnt img:nth-child(3){
    transition-delay: 0.2s;
}

.book-card:hover .book-icons-cnt img{
    transform: translateY(0%);
}

.add-book-cont{
    background-color: var(--blue-dark);
    color: var(--green);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    min-width: 300px;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    box-shadow: 0px 0px 15px var(--green);
    border-radius: 20px;
}

.close-icon-cont{
    position: relative;
    width: 100%;
    height: 0px;
}

.close-icon-cont img{
    width: 30px;
    position: absolute;
    right: 0;
}

.add-book-cont h2{
    font-size: 3rem;
    margin: 1rem;
}

.book-det-inp{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 2rem;
    width: 100%;
}

.book-det-inp input{
    border: 0;
    color: var(--green);
    font-size: 2rem;
    outline: 0;
    border-bottom: 2px solid var(--green);
    background-color: transparent;
    width: 100%;
    position: relative;
}

.book-det-inp input:focus{
    border-style: dashed;
}

.inp-error{
    height: 20px;
    font-size: 0.8rem;
    font-family: 'DM-Sans';
}

.placeholder-text{
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.placeholder-text-up{
    font-size: 1rem;
    transform: translateY(-110%);
}

.pages-inp-cont{
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.book-com-status-inp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-com-status-inp span{
    font-size: 1.2rem;
    margin: 1rem 0.5rem;
}

.book-com-status-inp input{
    height: 1.2rem;
    cursor: pointer;
}

.add-book-cont button{
    outline: 0;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--green);
    color: var(--blue-dark);
}



.add-collection-cont{
    display: flex;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(--green);
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    min-width: 300px;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    box-shadow: 0px 0px 15px var(--green);
    border-radius: 20px;
}


.add-collection-cont h1{
    margin: 1rem;
    font-size: 1.8rem;
}

.new-collection-create{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    border-bottom: 2px dotted var(--green);
}

.new-collection-create img{
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    background-color: var(--green);
    border-radius: 8px;
    margin-left: 10px;
}

.new-collection-create input{
    outline: none;
    border: none;
    height: 100%;
    width: 300px;
    background-color: transparent;
    border-bottom: 2px solid var(--green);
    color: var(--green);
    font-size: 1.9rem;
}

.new-collection-create input::placeholder{
    color: var(--green);
}

.new-collection-create input:focus{
    border-bottom: 2px dashed var(--green);
}

.available-collections-cont{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.collections-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
}

.collections-cont span{
    font-size: 2rem;
}

.collections-cont input{
    margin-right: 1rem;
}



/******************************/
.collection-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
}

.collection-card{
    background-color: var(--green);
    border-radius: 2rem;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0.5rem;
    overflow: hidden;
    padding-top: 1rem;
    margin: 1rem 1.5rem;
}

.collection-card .collection-name{
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
}

.collection-name::before{
    content: '" ';
}

.collection-name::after{
    content: ' "';
}

.collection-card .books-cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM-Sans';
    font-size: 1.5rem;
}

.collection-card .books-cnt span{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'DM-Sans';
}

.collection-icons-cnt{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.collection-icons-cnt img{
    cursor: pointer;
    transform: translateY(150%);
    transition: transform 0.2s ease;
}

.collection-card:hover .collection-icons-cnt img{
    transform: translateY(0%);
}
/**********************************/


.none{
    display: none;
}

.opacity-cont{
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
}

.opacity-rem-bk-cont{
    display: flex !important;
    background-color: #0b132bee;
}
